.text-input {
  border: 1px solid #e6e6e6;
  border-radius: 0;
  font-family: "Fakt","AvenirNext-Medium","Segoe UI",sans-serif;
  font-size: 14px;
  height: 50px;
  margin: -2px;
  padding: 10px;
  width: 400px;
}

* {
    box-sizing: border-box;
}

.sign-up-form table{
    margin-top: 150px;
}
.submit {
    margin-top: 30px;
    background-color:#0099CC;
    color: white;
    border: #0099CC;
}
body{
    background-color: #E7E7E7;
  /*  background-image: url("images/pencils-762555_1920.jpg");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center; */
}
.login p{
  font-family: "Fakt","AvenirNext-Medium","Segoe UI",sans-serif;
  font-size: 14px;
  color: #0099CC;
}
.login-form {
  border: 1px solid #e6e6e6;
  border-radius: 0;
  font-family: "Fakt","AvenirNext-Medium","Segoe UI",sans-serif;
  font-size: 12px;
  height: 37px;
  margin: -2px;
  padding: 10px;
  width: 190px;
}

//hello


.grid-container{
     width: 100%;
     max-width: 1200px;
 }

 /*-- our cleafix hack -- */
 .row:before,
 .row:after {
     content:"";
       display: table ;
     clear:both;
 }

 [class*='col-'] {
     float: left;
     min-height: 1px;
     width: 50%;
     /*-- our gutter -- */
     padding: 12px;
     background-color: #FFDCDC;
 }

 .col-1{ width: 50%; }
 .col-2{ width: 50%; }
/* .col-3{ width: 50%;    }
 .col-4{ width: 66.66%; }
 .col-5{ width: 83.33%; }
 .col-6{ width: 100%;   }*/

 .outline, .outline *{
  /*   outline: 1px solid #F6A1A1;*/
 }

 /*-- some extra column content styling --*/
 [class*='col-'] > p {
  background-color: #FFC2C2;
  padding: 0;
  margin: 0;
  text-align: center;
  color: white;
 }
