.text-input {
  border: 1px solid #e6e6e6;
  border-radius: 0;
  font-family: "Fakt","AvenirNext-Medium","Segoe UI",sans-serif;
  font-size: 14px;
  height: 50px;
  margin: -2px;
  padding: 10px;
  width: 400px;
}

.cat-title{
  font-family: "Fakt","AvenirNext-Medium","Segoe UI",sans-serif;
  font-size: 22px;
  height: 50px;
  margin: -2px;
  padding: 10px;
  color: White;
}

.myfont{
  width: 300px;
font-family: Segoe UI;
font-size: 18px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  cursor: pointer;

}

.cats{
  text-align: center;
  display:block;
color: White;
}
.acc{
  text-align: center;
  width: 40rem;
  margin: 0 auto;
}
.mycat{
  font-family: "Fakt","AvenirNext-Medium","Segoe UI";
  font-size: 22px;
  height: 50px;
  margin: -2px;
  padding: 10px;
  color: black;
  padding-top: 500px;
  text-align:center;
  color: #03997e;
}
.nav-bar{
 // border: 1px solid #e6e6e6;
  border-radius: 0;
  font-family: "Fakt","AvenirNext-Medium","Segoe UI",sans-serif;
  font-size: 14px;
  height: 50px;
  margin: -4px;
  padding: 10px;
  width: 25%;
  font-weight: bold;
}

.content{
  margin-top: 200px;
}

.sidebar{
  color: white;
  background-color: #03997e;
  width:330px;
  height:300px;
  //border:1px solid #03997e;
  font-size: 16px;

}
.sidebar img{
    position: relative;
   width: 100%;
}
.feature {
  background-color: #03997e;
  border: 1px solid #03997e;
  color: white;
  font-size: 16px;
  height: 242px;
  margin-top: 12px;
  width: 330px;
}
.about {
  background-color: #03997e;
  border: 1px solid #03997e;
  color: white;
  font-size: 16px;
  height: 235px;
  margin-top: 11px;
  width: 334px;
}
.about h1{
  margin-top: 100px;
  font-family: "Fakt","AvenirNext-Medium","Segoe UI",sans-serif;
 line-height: 30px;
 font-size: 24px;
}
.feature h1{
  margin-top: 100px;
  font-family: "Fakt","AvenirNext-Medium","Segoe UI",sans-serif;
 line-height: 30px;
 font-size: 24px;
}
.sidebar h1{
  margin-top: 100px;
  font-family: "Fakt","AvenirNext-Medium","Segoe UI",sans-serif;
 line-height: 36px;
}

.bigsidebar h1{
  margin-top: 100px;
  font-size: 36px;
  font-family: "Fakt","AvenirNext-Medium","Segoe UI",sans-serif;
 line-height: 36px;
}
.bigsidebar h2{
  margin-top: 170px;
  font-size: 36px;
  font-family: "Fakt","AvenirNext-Medium","Segoe UI",sans-serif;
 line-height: 36px;
}
.bigsidebar{
   color: white;
  background-color: #03997e;
  width:330px;
  height:600px;
  border:1px solid #03997e;
}

* {
    box-sizing: border-box;
}
.signUP{text-align: center; margin-top: 10rem;}
.sign-up-form table{
    margin-top: 150px;
}
.fsignUP{
  //margin-top: 1400px;
}
.submit {
    margin-top: 30px;
    background-color:#03997e;
    color: white;
    border: #03997e;
}
body{
    background-color: #27292f;
  /*  background-image: url("images/pencils-762555_1920.jpg");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center; */
}
.login p{
  font-family: "Fakt","AvenirNext-Medium","Segoe UI",sans-serif;
  font-size: 14px;
  color: #03997e;
}
.login-form {
  border: 1px solid #e6e6e6;
  border-radius: 0px;
  font-family: "Fakt","AvenirNext-Medium","Segoe UI",sans-serif;
  font-size: 12px;
  height: 40px;
  margin: -2px;
  padding: 10px;
  width: 190px;

}
.login-submit{
  background-color: #03997e;
  color: white;
  border: 1px solid #03997e;
  border-radius: 0;
  font-family: "Fakt","AvenirNext-Medium","Segoe UI",sans-serif;
  font-size: 12px;
  height: 40px;
  margin: -2px;
  padding: 10px;
  width: 150px;
}




.grid-container{
     width: 100%;
     max-width: 120em;
     box-sizing: border-box;
 }
.row{
/*  padding: 15px 15px 15px 15px;*/


}
/*
 .row:before,
 .row:after {
     content:"";
       display: table ;
     clear:both;
 }*/

 [class*='col-'] {
     float: left;
     min-height: 250px;
    width: 32.5%;
     padding: 20px;
     background-color: Black;
     margin-left: 12px;
     position: relative;
     min-width: 27em;
     margin-top: 15px;
     color: White;
 }
 [class*='col-']:hover {


     background-color: #03997e;

 }

/*
 .col-1{
   width: 45%;
 }
 .col-2{
   width: 50%;
 }*/
/* .col-3{ width: 50%;    }
 .col-4{ width: 66.66%; }
 .col-5{ width: 83.33%; }
 .col-6{ width: 100%;   }*/

 .outline, .outline *{
  /*   outline: 1px solid #F6A1A1;*/
 }

.rowcontainer{float: left;}
 [class*='col-'] > p {
  background-color: white;
  padding: 10px;
  margin: 0;
  text-align: center;
  color: black;
 }
.cathead p{
 margin-left: 15px;
 padding-top: 5px;
 font-family: Open Sans , sans-serif;
 font-size: 40px;
 color: White;

}

i{font-style:normal;}

.headline{
  font-family: Segoe UI;
  font-size: 1.8rem;


}
.timestamp{
    font-family: sans-serif;
    float: left;
}
.excerpt{
  font-family: Open Sans;
  font-size: 1rem;
  margin-top: 25px;
  margin-bottom: 25px;
  color: beige;
}
.article{
  display: block;

}
hr{color: #27292f;}
.readmore {
  background-color: Black;
    border: none;
    color: #03997e;

    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;


}

.gridbottom{
  margin-top: 15px;

}
.rmbtn{
  float:right;

}
.article {

    line-height:1.5;



}

.articletext p{
    margin: 0 !important;


}
.article p:first-child::first-letter {
    font-size: 200%;
    color: #8A2BE2;
}

.articleimages{

align-items: center;

}
.articleimages img {
  width: 25%;
  height: auto;
  float: left;

  margin: 10px;

}
#articlehead{
  font-family: Trebuchet MS, Calibri;
  font-weight: 800;
  font-style: normal;
  color: #27272E;
  font-size: 2.747em;
  margin: 0;
  text-transform: uppercase;


}
.modal {

    display: block;
    visibility: hidden;
    position: fixed;
    z-index: 1;
   left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s;
}

.modal-content {


    position: fixed;
    bottom: 0;
    background-color: #fefefe;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s;
    max-height: 80%;
    overflow-y: auto;
}

.close {
  /*  color: white;

    font-size: 28px;
    font-weight: bold;*/
font-family: arial;
    float: right;
    display: inline-block;
    margin: 0 10px 0 0;
  padding: 5px;
  font-size: 20px;
  border: none;

color: red;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: white;
    color: white;
}

.modal-body {max-width: 70em;
margin: 0 auto;
padding: 1em;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}
.navigationMenu{
  text-align: center;
cursor: pointer;

}
.logo{
	color: White;
	font-size: 8rem;
	font-family: Trebuchet MS;
	width: auto;
}
#fb{
  width: 50px;
  height: 50px;
background-color: transparent;
}
#tw{
  width: 50px;
  height: 50px;
  background-color: transparent;
}
#cross{
  width: 50px;
  height: 50px;
  background-color: transparent;
}
#themes{margin-top: 10px;}
